<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @vendor do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "Type the vendor name here" %>

      <%= f.label :url %>
      <%= f.text_field :url, :placeholder => "Type the URL here" %>

      <%= f.label :logo %>
      <%= f.text_field :logo, :placeholder => "Enter URL for logo here" %>
      <%= f.submit "Update Vendor" %>
    <% end %>
  </div>
</div>
