<h2>Prackit Certified Vendors | <%= link_to "Add New", new_vendor_path %></h2>

<hr />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Logo</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
<% @vendors.each do |vendor| %>
  <tr>
    <td><%= link_to vendor.name, vendor %></td>
    <td><%= vendor.url %></td>
    <td><%= image_tag(vendor.logo, width: "200") %></td>
    <td><%= link_to "edit", edit_vendor_path(vendor) %>
    <td><%= link_to "delete", vendor, method: :delete,
                                      data: { confirm: "You sure?" } %>
  </tr>
<% end %>
</table>
